- var title = "Guildeline_eng"

doctype html
html(lang='eng')
    include include/_head
    body
        include include/_glonav
        include include/_guideline_eng
        include include/_footer
        include include/_jsfile