- var title = "Guildeline"

doctype html
html(lang='ja')
    include include/_head
    body
        include include/_glonav
        include include/_guideline
        include include/_footer
        include include/_jsfile