- var title = "XPC-Characters"

doctype html
html(lang='ja')
    include include/_head
    body
        include include/_glonav
        include include/_header
        include include/_contents
        //- フッター
        include include/_footer
        include include/_jsfile
