#contents.container
  .row.no-padding
    .col-md-12
      img(src="img/characters.png", alt="characters").heading.mx-auto.d-block
  .row.justify-content-center.mb-3
    .col-md-8
      p 彼女達は仮想通貨『XPC』のキャラクターです。XPCに関係することであればイラストなど無償で商用利用できます。
      p They are characters of cryptocurrency "XPC". &nbsp;If your action is associated with XPC, you can use it commercially for free.
  .row.no-padding.justify-content-center
    .col-md-6.img-in-txt.contents_img
      h4.txt Chain chan
      img(src="img/chainchan2.png", alt="1").mx-auto.d-block
    .col-md-6.img-in-txt.contents_img
      h4.txt XP chan
      img(src="img/xpchan2.png", alt="1").mx-auto.d-block

#download.container.mb-4
  .row
    .col-md-12.btn-main
      a(href="img/assets.zip", download="assets.zip")
        button(type="button").btn.btn-primary.btn-block.shadow.mb-2
          i.fas.fa-download &nbsp;Assets Download