#contents.container.headline
  h1 Characters
  .row.no-padding.justify-content-center
    #carousel.col-md-12.carousel.slide.carousel-fade(data-ride="carousel", data-interval="5000")
      ol.carousel-indicators
        li(data-target="#carousel", data-slide-to="0").active
        li(data-target="#carousel", data-slide-to="1")
      .carousel-inner
        .carousel-item.active
          img(src="img/chainchan2.png", alt="1").mx-auto.d-block
        .carousel-item
          img(src="img/xpchan2.png", alt="2").mx-auto.d-block