#contents.container
  #carouselExampleIndicators.carousel.slide.carousel-fade(data-ride="carousel")
    ol.carousel-indicators
      li(data-target="#carousel", data-slide-to="0").active
      li(data-target="#carousel", data-slide-to="1")
    .carousel-inner
      .carousel-item.active
        img(src="img/xpchan.png", alt="1").d-block
      .carousel-item
        img(src="img/chainchan.png", alt="2").d-block

    //- a(href="#carouselExampleControls",role="button",data-slide="prev").carousel-control-prev
    //-   span(aria-hidden="true").carousel-control-prev-icon
    //-   span.sr-only 前へ
    //- a(href="#carouselExampleControls",role="button",data-slide="next").carousel-control-next
    //-   span(aria-hidden="true").carousel-control-next-icon
    //-   span.sr-only 次へ
