#download.container
    .row.justify-content-center
        .col-md-8
            h3.text-center 一括ダウンロード
            p.small.text-center (assets.zip 11.8MB)
            .col-md-12.btn-main.mb-3
                a(href="img/assets.zip", download="assets.zip")
                    button(type="button").btn.btn-primary.btn-block.shadow.mb-2
                        i.fas.fa-download &nbsp;All in one assets Download
    .row.justify-content-center.mb-4
        .col-md-12
            h3 Illustrated by&nbsp;
                a(href="https://twitter.com/ringo_5g", title="@ringo_5g") @ringo_5g
            .card-columns
                .card
                    a(href="img/chainchan/chainchan.png")
                        img(src="img/chainchan/chainchan.png", alt="chainchan.png").card-img-top
                .card
                    a(href="img/xpchan/xpchan_ringo.png")
                        img(src="img/xpchan/xpchan_ringo.png", alt="xpchan_ring.png").card-img
                .card
                    a(href="img/chainchan/model.png")
                        img(src="img/chainchan/model.png", alt="model.png").card-img
                .card
                    a(href="img/chainchan/mrglass.jpg")
                        img(src="img/chainchan/mrglass.jpg", alt="mrglass.jpg").card-img
                .card
                    a(href="img/chainchan/chains_logo_4k.png")
                        img(src="img/chainchan/chains_logo_4k.png", alt="chains_logo_4k.png").card-img
    .row.justify-content-center
        .col-md-12
            h3 Illustrated by&nbsp;
               a(href="https://twitter.com/cocoa_kumano", title="@cocoa_kumano") @cocoa_kumano
            .card-columns
                .card
                    a(href="img/xpchan/xpchan_kumano.png")
                        img(src="img/xpchan/xpchan_kumano.png", alt="model.png").card-img
                .card
                    a(href="img/xpchan/xpchan_model.jpg")
                        img(src="img/xpchan/xpchan_model.jpg", alt="mrglass.jpg").card-img
                .card
                    a(href="img/xpchan/xpchan_logo.png")
                        img(src="img/xpchan/xpchan_logo.png", alt="chains_logo_4k.png").card-img
