#footer.container
    .row
        p.small Assets illustrated by&nbsp;
            a(href="https://twitter.com/ringo_5g", title="@ringo_5g") @ringo_5g
            |&nbsp;&amp;&nbsp;
            a(href="https://twitter.com/cocoa_kumano", title="@cocoa_kumano") @cocoa_kumano
    .row
        .small &copy;2018 XPC-JP