#guidline.container.mb-4
    .row.no-padding.justify-content-center
        .col-md-8.btn-main.mb-3
            a(href="guideline_eng.html")
                button(type="button").btn.btn-secondary.btn-block.shadow.mb-2 Go to English page(EN)

        .col-md-12.mb-3
            img(src="img/guideline_jp/top.png", alt="top.png").img-fluid.d-block.mx-auto
        .col-md-12.mb-3
            img(src="img/guideline_jp/summary.png", alt="summary.png").img-fluid.d-block.mx-auto
        .col-md-12.mb-3
            img(src="img/guideline_jp/common.png", alt="common.png").img-fluid.d-block.mx-auto
        .col-md-12.mb-3
            img(src="img/guideline_jp/QA1.png", alt="QA1.png").img-fluid.d-block.mx-auto
        .col-md-12.mb-3
            img(src="img/guideline_jp/QA2.png", alt="QA2.png").img-fluid.d-block.mx-auto
