body {
  // @include background-image(linear-gradient(top, rgba(#111,1) 0%,rgba(#222,1) 50%,rgba(#111,1) 100%));
  // font-family: "moon-r";
  font-weight: 100;
  color: black;
  background: #9fcde9;
  // background: linear-gradient(#9fcde9, #b1ef93);
  width: 100vw;
  height: 100vh;
}

@import "_img.scss";